<nav class="navbar navbar-light navbar-toggleable-md fixed-top bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">PonyRacer</a>
  <div id="navbar" [class.collapse]="navbarCollapsed" class="navbar-collapse">
    <div class="nav navbar-nav mr-auto">
      <a class="nav-item nav-link" href="" routerLink="/" routerLinkActive="selected-menu" #route="routerLinkActive">Home</a>
      <a class="nav-item nav-link" href="" routerLinkActive="selected-menu" routerLink="/races">Races</a>
    </div>
  </div>
  <span class="nav-item navbar-text mr-2">
    {{ user?.login }}
    <span class="fa fa-star"></span>
    {{ user?.money }}
  </span>
</nav>